@using Neopixel.Client
@using System.Drawing
<table>
    <tr>
        @for (int i = 0; i < Stripe.PixelCount; i++)
        {
            <td>
                <PixelVisualisation Index="i" Stripe="Stripe"/>
            </td>
        }
    </tr>
</table>

@code {

    [Parameter]
    public Stripe Stripe { get; set; }
}